<div id="main" class="box">
  <h1>split cabs with people from your college.</h1>

  <form id="login-form" action="/dashboard"> 
	<div class="form-group">
		<input type="email" name="email" class="form-control" placeholder=".edu email address"><br>
		<input type="password" name="password" class="form-control" placeholder="password"><br>
		<input type="submit" value="log in" class="mybutton">
	</div>
  </form>

  <h2>Find or start a cab share group going between your school and a popular destination.</h2>
</div>