<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
	  <!-- logo and title of app -->
	  <a class="navbar-brand" href="index.html">
		<img src="/public/img/icon_small.png" alt="car logo" class="logo">
		<img src="/public/img/text_logo_small.png" alt="Campus Taxi Share" class="logo">
	  </a>
    </div>

    <div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
		<li><a ng-mouseover="showAbout()" ng-mouseleave="hideAbout()">about</a></li>
		<li><a href="/login">login</a></li>
		<li><a href="/register">register</a></li>
	  </ul>
    </div>
  </div>
</div>