<div id="main" class="box">
  <h1>split cabs with people from your college.</h1>

  <p>We won't spam you, ever. This information is used to confirm that you're a student and so we know what to call you.<br></p>

  <form ng-submit="submitRegister()" class="myform">
    <div class="form-group">
	  <input id="name-field" type="text" name="name" class="form-control" placeholder="your name"><br>
	  <input id="email-field" type="email" name="email" class="form-control" placeholder=".edu email address"><br>
	  <input id="pass-field" type="password" name="password" class="form-control" placeholder="password"><br>
	  <input type="submit" value="start splitting cabs" class="mybutton">
    </div>
  </form>
</div>