<h1 class="page-header">Dashboard</h1>
<div id="trips-div">
  <div class="box-dash">
    <h2 class="sub-header">My trips</h2>
    <div class="table-responsive">
	  <table class="table table-striped" id="user-trips-table">
		<thead>
		  <tr>
			<th width="13%">owner</th>
			<th width="20%">departure time</th>
			<th>start point</th>
			<th>end point</th>
		  </tr>
		</thead>
		<tbody data-bind="foreach: allTrips">
			<td data-bind="text: owner_email"></td>
			<td data-bind="text: departure_time_date"></td>
			<td data-bind="text: start_point"></td>
			<td data-bind="text: end_point"></td>
		</tbody>
	  </table>
	</div>
  </div>
  
  <div class="box-dash">
	<h2 class="sub-header">New trips</h2>
	<div class="table-responsive">
	  <table class="table table-striped" id="new-trips-table">
		<thead>
		  <tr>
			<th width="13%">owner</th>
			<th width="20%">departure time</th>
			<th>start point</th>
			<th>end point</th>
		  </tr>
		</thead>
		<tbody></tbody>
	  </table>
    </div>
  </div>
</div> <!-- trips-div -->