<%- include _header.ejs %>

<%- include _nav.ejs %>
	
<!-- only set to visible on mouseover -->
<div id="about_hover" class="box">
	Campus Taxi Share helps you find members of your campus community to share taxis with.<br><br>
	Cut costs and meet people.<br><br>
</div>

<%- include footer.ejs %>