<!DOCTYPE html>
<html>
<head>
	<%- include _header.ejs %>
</head>

<body>
	<%- include _nav.ejs %>

	<%- include _register.ejs %>

	<div id="about_hover" class="box">
		Campus Taxi Share helps you find members of your campus community to share taxis with.<br><br>
		Cut costs and meet people.<br><br>
	</div>

</body>
	
<%- include footer.ejs %>

</html>