<div class="container-fluid">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
		<li><a href="#">Overview</a></li>
		<li class="active"><a href="#">Create a trip</a></li>
	  </ul>
	  <ul class="nav nav-sidebar">
		<li><a href="">My profile</a></li>
		<li><a href="">My trips</a></li>
	  </ul>
	</div>
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <div class="box-dash">	
		<h1 class="page-header">Create a Trip</h1>
			
			
			
		</div>
	</div>
  </div>
</div>