<div class="container-fluid">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
		<li><a href="/dashboard">Overview</a></li>
		<li class="active"><a href="#">Create a trip</a></li>
	  </ul>
	  <ul class="nav nav-sidebar">
		<li><a href="">My profile</a></li>
		<li><a href="">My trips</a></li>
	  </ul>
	</div>
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <div class="box-dash">	
		<h1 class="page-header">Create a Trip</h1>
		
		<form ng-submit="submitGroup()">
		  <div class="form-group">
			<!-- temporary -->
			<label for="timeAndDateIn">Time and date (mm/dd/yyyy hh:ss)</label>
			<input ng-model="group.when" type="datetime" class="form-control" id="timeAndDateIn" placeholder="Enter time and date">
			</br>
			
			<label for="start-pt">Starting location</label>
			<select ng-model="group.start" class="locationPick form-control" id="start-pt" data-placeholder="Choose a starting location..." tabindex="2">
				<!-- options generated here with JS -->
			</select>
			</br>
			
			<!-- class="chosen-select" to enable chosen -->
			<label for="end-pt">Destination</label>
			<select ng-model="group.end" class="locationPick form-control" id="end-pt" data-placeholder="Choose a starting location..." tabindex="2">
			</select>
			<br><br>
			
			<input type="submit" value="submit" class="mybutton">
		  </div>
		</form>
		
	  </div>
	</div>
  </div>
</div>