<h1>Hi {{personal_name}}!</h1>

<span>Would you like to drive to campus or from campus?</span>

<div class="rounded_rectangle">
	<span>starting point</span>
	<hr>
	<span>ending point</span>
</div>

<div class="rounded_rectangle">
	<span>departure time</span>
</div>

<div class="rounded_rectangle">
	<span>departure date</span>
</div>

<!--
<table width="100%">
	<td width="50%">
		<input type="button" value="to campus" class="mybutton">
	</td>
	<td width="50%">
		<input type="button" value="from campus" class="mybutton">
	</td>
</table>
-->

<span class="logout" ng-click="logout()">logout</span>