<div class="container-fluid">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
		<li class="active"><a href="#">Overview</a></li>
		<li><a href="#">Create a trip</a></li>
	  </ul>
	  <ul class="nav nav-sidebar">
		<li><a href="">My profile</a></li>
		<li><a href="">My trips</a></li>
	  </ul>
	</div>
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  <div class="box-dash">	
		<h1 class="page-header">{{personal_name}}'s Dashboard</h1>
		<h2 class="sub-header">Current trips</h2>
		  <div class="table-responsive">
			<table class="table table-striped">
			  <thead>
				<tr>
				  <th>trip ID</th>
				  <th>departure time</th>
				  <th>start point</th>
				  <th>end point</th>
				  <th>seats left</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>1,001</td>
				  <td>Lorem</td>
				  <td>ipsum</td>
				  <td>dolor</td>
				  <td>sit</td>
				</tr>
				<tr>
				  <td>1,002</td>
				  <td>amet</td>
				  <td>consectetur</td>
				  <td>adipiscing</td>
				  <td>elit</td>
				</tr>
				<tr>
				  <td>1,003</td>
				  <td>Integer</td>
				  <td>nec</td>
				  <td>odio</td>
				  <td>Praesent</td>
				</tr>
				<tr>
				  <td>1,003</td>
				  <td>libero</td>
				  <td>Sed</td>
				  <td>cursus</td>
				  <td>ante</td>
				</tr>
				<tr>
				  <td>1,004</td>
				  <td>dapibus</td>
				  <td>diam</td>
				  <td>Sed</td>
				  <td>nisi</td>
				</tr>
				<tr>
				  <td>1,005</td>
				  <td>Nulla</td>
				  <td>quis</td>
				  <td>sem</td>
				  <td>at</td>
				</tr>
			  </tbody>
			</table>
		  </div>
		</div>		
	</div>
  </div>
</div>