<h2 id="title">split cabs with people from your college.</h2>

<form ng-submit="login()" class="myform"> 
<!-- ng-submit tells which function in the controller to call -->
	<input ng-model="user.username" type="email" name="email" placeholder=".edu email address"><br>
	<input ng-model="user.password" type="password" name="password" placeholder="password"><br>
	<input type="submit" value="log in" class="mybutton">
</form>

<span id="subheading">Find or start a cab share group going between your school and a popular destination.</span>